* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../images/laptop.jpg');
    background-repeat: no-repeat;
    background-size: 100% 720px;
    background-color: rgba(0, 0, 0, 0.823);
    background-blend-mode: overlay;
    color: white;
}

header {
    background-color: rgba(0, 0, 0, 0.864);
    width: 100vw;
}

nav {
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: auto;
}

.nav-items {
    height: 100%;
    /* color: blue; 
    padding: 10px 10px 10px 50px; */
    padding-top: 10px;
    font-size: 25px;
}

a {
    padding: 10px 30px 10px 30px;
    height: 30px;
    color: white;
    text-decoration: none;
}

.nav-items :hover {
    /* border-bottom: 2px solid red;
     */
    color: red;
}

.active {
    border-bottom: 2px solid red;
}

.active a {
    color: red;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

h1 {
    color: white;
    font-size: 20px;
}

#about {
    height: 350px;
    margin-top: 50px;
}

#profile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 18rem;
    margin-top: 20px;
}

#profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

#profile h1 {
    /* width: 0ch;
    overflow: hidden;
    white-space: nowrap;
    animation: text 8s steps(16) infinite;
    border-right: 3px solid white; */
    font-size: 30px;
    letter-spacing: 1.75px;
    word-spacing: 3px;
    margin-bottom: 20px;
}

@keyframes text {
    0% {
        width: 0ch;
    }
    50% {
        width: 30ch;
    }
}

.header-area h2 {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.header-area h2 span {
    color: chartreuse;
}

#experience {
    height: 500px;
}

#education {
    padding-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    border: 1px solid rgb(101, 101, 101);
    padding: 10px;
}

#projects {
    /* height: 700px; */
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid rgb(101, 101, 101);
}

.container {
    margin-top: 30px;
}

.heading {
    font-size: 30px;
}

.row {
    margin: 10px;
    /* height: 100px; */
    width: 700px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.37);
}

.project-heading {
    font-size: 20px;
    color: #fff;
}

.project-decription {
    padding-left: 10px;
    margin-top: 10px;
    font-size: 15px;
    letter-spacing: 1px;
    word-spacing: 1px;
}

.marks {
    padding: 6px 0px 0px 10px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    color: rgb(121, 119, 117);
}

.marks span {
    padding-top: 2px;
}

.project {
    padding: 20px;
}

#skills {
    /* height: 500px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    border: 1px solid rgb(101, 101, 101);
}

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 500px; */
    flex-direction: column;
    margin-top: 50px;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 30px; */
    margin-left: 30px;
    height: 400px;
    width: 750px;
    border-radius: 5px;
    /* background-color: #2a2727cd; */
    padding: 20px
}

.details {
    display: flex;
}

.details div {
    margin-top: 20px;
}

.details i {
    color: #fff;
    font-size: 20px;
    /* padding-right: 10px; */
}

.details a {
    color: #fff;
    cursor: pointer;
}

label {
    color: white;
}

input,
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: transparent;
    color: white;
}

.msg {
    width: 100%;
    height: 130px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    color: white;
    border-radius: 4px;
    align-items: flex-start;
    box-sizing: border-box;
    background-color: transparent;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input:focus {
    outline: none;
}

input[type=submit]:hover {
    background-color: #45a049;
}

h3 {
    color: black;
}

.skills {
    /* margin: 20px 20px 0px 20px; */
    display: flex;
    flex-wrap: wraps;
}

.left {
    width: 340px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.37);
}

.right {
    width: 340px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.37);
}

.skills-name {
    font-size: 25px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    /* width: 220px; */
    height: 60px;
    align-items: center;
    flex-direction: row;
    /* border-radius: 5px; */
    border-bottom: 1px solid white;
}

.skills img {
    /* margin-top: 10px; */
    height: 40px!important;
    width: 40px;
    border-radius: 50%;
}

.skills h3 {
    color: #fff;
    margin-left: 10px;
    font-size: 20px;
}

@media screen and (max-width: 600px) {
    nav {
        height: 35px;
    }
    .nav-items {
        font-size: 15px;
    }
    a {
        padding: 10px 12px 10px 8px;
    }
    .container {
        margin-top: 20px;
    }
    .heading {
        font-size: 15px;
    }
    .row {
        width: 310px;
    }
    .project-heading {
        font-size: 15px;
        color: #fff;
    }
    .project-decription {
        padding-left: 10px;
        margin-top: 10px;
        font-size: 8px;
    }
    .skills {
        /* margin: 20px 20px 0px 20px; */
        display: inline;
        flex-wrap: wraps;
    }
    .left {
        width: 320px;
    }
    .right {
        width: 320px;
    }
    .skills-name {
        font-size: 15px;
    }
    .skills img {
        /* margin-top: 10px; */
        height: 40px!important;
        width: 40px;
        border-radius: 50%;
    }
    .skills h3 {
        color: #fff;
        margin-left: 10px;
        font-size: 12px;
    }
    .contact {
        margin-left: 8px;
        height: 400px;
        width: 350px;
        padding: 10px
    }
    .contact label {
        font-size: 10!important;
    }
    i {
        padding-left: 20px;
    }
}