* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../images/laptop.jpg');
    background-repeat: no-repeat;
    background-size: 100% 720px;
    background-color: rgba(0, 0, 0, 0.823);
    background-blend-mode: overlay;
    color: white;
}

header {
    background-repeat: no-repeat;
    width: 100vw;
    /* height: 60px; */
    /* border: 2px solid black; */
}

nav {
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: auto;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.main {
    padding-top: 60px;
}

.nav-items {
    height: 100%;
    /* color: blue; 
    padding: 10px 10px 10px 50px; */
    padding-top: 10px;
    font-size: 25px;
}

a {
    padding: 10px 30px 10px 30px;
    height: 30px;
    color: white;
    text-decoration: none;
}

.nav-items :hover {
    /* border-bottom: 2px solid red;
     */
    color: red;
}

.active {
    border-bottom: 2px solid red;
    color: red;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
}

h1 {
    color: white;
    font-size: 20px;
}

#about {
    height: 350px;
}

.img {
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 50%;
    margin-bottom: 20px;
}

.img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.name {
    width: 0ch;
    overflow: hidden;
    white-space: nowrap;
    animation: text 8s steps(16) infinite;
    border-right: 3px solid white;
    font-size: 30px;
    letter-spacing: 1.75px;
    word-spacing: 3px;
}

@keyframes text {
    0% {
        width: 0ch;
    }
    50% {
        width: 28ch;
    }
}

#experience {
    height: 500px;
}

#education {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

#projects {
    /* height: 700px; */
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.container {
    margin-top: 30px;
}

.heading {
    font-size: 30px;
}

.row {
    margin: 10px;
    /* height: 100px; */
    width: 700px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.37);
}

.project-heading {
    font-size: 20px;
}

.project-decription {
    padding-left: 10px;
    margin-top: 10px;
    font-size: 15px;
    letter-spacing: 1px;
    word-spacing: 1px;
}

.marks {
    padding: 6px 0px 0px 10px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    color: rgb(121, 119, 117);
}

.marks span {
    padding-top: 2px;
}

.project {
    padding: 20px;
}

#skills {
    height: 500px;
}

#contact {
    height: 500px;
}